{% extends "base.html" %}

{% block title %}{{ piece.title }} - Codery{% endblock %}

{% block content %}
  <h1>{{piece}}</h1>

  <hr>
  <p> <b>Piece ID:</b> {{piece.id}} </p>
  <p> <b>Venue:</b> {{piece.venue}} (Venue ID: {{piece.venue.id}}) </p>
  <p> <b>Publication Date:</b> {{piece.pub_date}} (Original: {{piece.pub_date_unparsed}}) </p>
  <p> <b>Source Load Date:</b> {{piece.source_load_date}} </p>
  <p> <b>URL:</b> {{piece.url}} </p>
  <p> <b>Byline:</b> {{piece.byline}} </p>
  <hr>

  {{content|safe}}
{% endblock %}
