{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ assignment.piece.title }} - Codery{% endblock %}

{% block content %}
  {% include "pieces/piece-data.html" %}
  <hr>

  <ul>
    {% if assignment.latest_coding_form_url %}
    <li>
    <a href="{{ assignment.latest_coding_form_url }}">Pick up where you left off</a>
    (This links to the URL you entered into 'latest coding form URL' earlier.)
    </li>
    {% endif %}
    <li>
    {% if assignment.sample.study.coding_tool_url %}
    <a href="{{ assignment.sample.study.coding_tool_url }}">Start coding</a>
    {% if assignment.latest_coding_form_url %}
      <it>(You likely don't want to do this. You have already started coding this
      piece, and the link to that unfinished form is available above.)
    {% endif %}
    {% endif %}

    <p>
    Unique identifier for copy-and-pasting into coding tool: 
    <b>
      A{{ assignment.id }}-S{{ assignment.sample.id }}-C{{ assignment.coder.id }}-P{{ assignment.piece.id }}
    </b>
    </p>

    </li>
  </ul>


  <div class="well">
    {% crispy form %}
  </div>
{% endblock %}

