{% extends "base.html" %}

{% block title %}Assignment tags - Codery{% endblock %}

{% block content %}
  {% for study in studies %}
    <h2>{{study.name}}</h2>
    <ul class="assignment-tag-list">
      {% for tag in study.assignment_tags.all() %}
      <li>
        <a href="{{ url("coding.views.view_assignments_by_tag", tag.pk) }}"><span class="label label-primary">{{tag.name}}</span></a>
        ({{ tag.assignments.filter(coder=user).count() }} coding assignments)
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endblock %}
